*{
    padding: 0;
    margin: 0;
}



h1{
    color: red;
    font-size:100px;
    background-color: black;
    border-width: 2px;
    display:inline-block;
    padding: 2px;
    margin-top:50px;
    text-align: center;
    justify-content: center;
    position: relative;
    left:210px;
}
#guessnumber{
    height: 50px;
    width: 600px;
    position: relative;
    left:220px;
    margin-top: 50px;
    border-radius: 35px;


}
#result
{
    color: black;
    font-size: 30px;
    text-align: center;
    boarder-width:1px;
    border-style: solid;
    background-color:white;
    border-color:black;
    border-radius: 10px;
    display: inline-block;
    height: 40px;
    padding: 10px;
    position: relative;
    top:100px;
    right:550px;


}
#score{
    color:red;
    font-size: 30px;
    text-align: center;
    border-width:3px;
    border-color:black;
    border-style: solid;
    background-color: white;
    display: inline-block;
    height: 40px;
    padding: 5px;
    position: relative;
    left : 252px;
    top : 110px;


}
button{
    height: 40px;
    font-size:20px;
    width: 150px;
    border-color: black;
    border-radius: 2px;
    background-color: black;
    color: white;
    margin: 20px;
    position: relative;
    left:200px;
    border-radius: 30px;
}
div{
    height:600px;
    width:80%;
    border-width: 40px;
    border-color: black;
    border-style: solid;
    margin:10px;
    padding: 10px;
    position: absolute;
    left:97px;


}
